[2017-02-15 18:45] martysweet opened #1 "Plan program workflow"
COS
- Resource nesting is shown in the error messages
- Multiple error messages can be shown per run
- YAML and JSON are supported
- Uses the AWS API Spec for a knowledge base
- First release only checks Resources
- Give a link to the documentation for errors in an error summary once run
- Debug should throw errors when found, and again at the end in the summary

[code]

1. Validate users input
2.

[2017-02-15 18:47] martysweet opened #2 "Implement downloader for JSON specs for each region"
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html

[2017-02-15 18:50] martysweet opened #3 "Gather lists of Cloudformation properties"
- [ ] Resource Property Types
- [ ] Resource root attributes (ex. Type, Properties, DependsOn)

[2017-02-17 18:55] martysweet opened #4 "Suggest dependsOn"
If DependsOn is not defined, suggest it to the user with INFO

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-dependson.html

[2017-02-23 11:17] martysweet opened #5 "Show parsing error on invalid input"

[2017-02-23 11:47] martysweet opened #6 "Security group rule"
Invalid value 'Must specify both from and to ports with ICMP.' for portRange.

[2017-02-23 11:50] martysweet opened #7 "Instance AMI type"
Slightly harder to check

Virtualization type 'hvm' is required for instances of type 'm4.large'. Ensure that you are using an AMI with virtualization type 'hvm'. For more information, see http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/virtualization_types.html

[2017-02-23 12:17] martysweet opened #8 "Template Valid formatting"

[2017-02-23 12:17] martysweet opened #9 "API Docs"

[2017-02-23 14:25] martysweet opened #10 "Yaml shorthand !Fn::Sub"
[code]

Does not throw any validation errors

!Fn is invalid, should be !Sub

[2017-02-25 14:24] martysweet opened #11 "Extended validation flag"
After validating, have the option to use the AWS API to do a final check

This ensures everything can be caught

[2017-02-25 14:25] martysweet opened #12 "Watch file"
As this is a dev tool, watching a template could be useful

[2017-03-02 08:38] #1 closed, assigned to martysweet

[2017-03-04 19:52] #10 closed, assigned to nobody

[2017-03-04 19:53] #4 closed, assigned to nobody

[2017-03-04 19:53] #3 closed, assigned to nobody

[2017-03-04 19:53] #11 closed, assigned to nobody

[2017-03-04 19:54] #7 closed, assigned to nobody

[2017-03-04 19:54] #6 closed, assigned to nobody

[2017-03-04 19:54] #9 closed, assigned to nobody

[2017-03-04 19:55] #12 closed, assigned to nobody

[2017-03-04 19:55] #8 closed, assigned to nobody

[2017-03-04 19:55] #5 closed, assigned to nobody

[2017-03-04 19:55] #2 closed, assigned to nobody

[2017-03-05 18:31] martysweet opened #15 "Double nested PropertyTypes are not checked correctly"
A template such as

[code]

Will throw an error of:
[code]

Among others...

This should be `Resources > CloudFrontDistribution > Properties > DistributionConfig > Logging`, however it looks like the PropertyType is correct.

[2017-03-05 22:33] #15 closed

[2017-03-06 09:44] martysweet opened #17 "Improper Type Checking + Invalid search string"
1) String checks should allow '-' in the regex.

2) Template Formation Version is expecting a quoted "2010-09-09", for some reason, unquoted 2010-09-09 is throwing an error.

3) The "Expected String type" error is giving 'String.IpProtocol' as a type, as opposed to 'SecurityGroup.IpProtocol', this is creating the invalid search

[code]

[2017-03-10 08:20] martysweet commented on #17
Fixed in #20

[2017-03-10 08:20] #17 closed

[2017-03-23 10:29] martysweet opened #23 "Map picked up for Lambda ENV Vars"
[code]

[2017-04-05 12:48] sjparkinson opened #24 "Tags is not a valid property of AWS::AutoScaling::AutoScalingGroup"
[Yes it is](https://docs.aws.amazon.com/autoscaling/latest/userguide/autoscaling-tagging.html).

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-group.html#aws-properties-as-group-prop

For example:

[code]

[2017-04-05 13:25] sjparkinson opened #25 "Pass pseudo parameters as CLI arguments"
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/pseudo-parameter-reference.html

To avoid:

[code]

[code]

[2017-04-05 20:10] martysweet commented on #24
Thanks for your feedback. It looks like the specification file was expecting 'AsTags' as opposed to 'Tags' for this resource, as shown here https://github.com/martysweet/cfn-lint/pull/26/files#diff-39d4386c8eedac6819580116bd9869f1L14074.

After updating the aws resource specification the issue has been resolved. The PR #26 shows the changes made. Update your version to 1.0.13 to see the changes.

[2017-04-05 20:10] #24 closed

[2017-04-05 20:16] martysweet opened #27 "Numeric Parameters not being validated"
It appears parameters with values of `int` are not being processed properly. This is probably getting picked up on tests but being ignored as the majority of tests only check critical errors.

[code]

[2017-04-06 22:12] nikolay opened #28 "Support custom resources"
Resource type of `Custom::*` is valid, but `cfn-lint` fails it.

[2017-04-09 14:49] martysweet commented on #28
Thanks @nikolay. A patch for this would probably be best suited in the https://github.com/martysweet/cfn-lint/blob/master/src/resourcesSpec.es6 file. Where any Resource Type starting with Custom:: is caught and returned properly.

When a "Custom::" resource type is found, the code should lookup `AWS::CloudFormation::CustomResource` within the resource spec json. The current property check should a

[2017-04-11 07:07] martysweet opened #29 "JSON structures are not validated"
Not currently sure how to do this with the current information.

This occurs when validating something like an IAM policy.

[2017-04-11 13:08] martysweet commented on #25
Hi @sjparkinson,

This seems like a sensible suggestion. Looks like the following work would have to be done.

- [ ] Split out cfn-lint/data/aws_ref_override.json into separate files, this seems to mix two different purposes at the moment, or at the least clarify the different data types within the file. It's not clear if the Refs are returning the string of `arn` or another module is expecting an

[2017-04-18 06:51] martysweet commented on #28
Hi @nikolay,

The changes to make this possible are now available in version 1.0.14. Please update and try again!

Closing this issue 😄

[2017-04-18 06:51] #28 closed

[2017-04-19 19:20] richardxia commented on #29
I just ran into this issue when trying to validate one of my own templates which contained an IAM policy. I haven't looked at your codebase very deeply, but my inclination would be to add a new type for each JSON property in a similar fashion to the resource types. A sort of rough sketch of what I'm thinking of is to modify aws_resources_specification.json to look like this:

[code]

Then you can

[2017-04-21 08:39] martysweet commented on #29
Hi @richardxia,

The `aws_resources_specification.json` file is downloaded from AWS CloudFormation http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html. So I wouldn't want to make changes to it in order to make upgrades easy.

However, something along the lines you have mentioned should work nicely.

I think the following tasks are needed in order to implem

[2017-04-25 17:36] martysweet commented on #27
- [ ] Add test to check for unhandled properties of numerical type
- [ ] Ensure numerical properties are validated

[2017-04-26 05:54] #27 closed

[2017-04-27 04:22] martysweet commented on #25
Hi @sjparkinson,

This feature is now implemented in v1.1.1. You can use it like the following:

`cfn-lint validate my_template.yaml --pseudo AWS::StackName="My-Stack"`

`cfn-lint validate my_template.yaml --parameters key="my value" --pseudo AWS::Region=ap-northeast-1,AWS::AccountId=000000000000`

[2017-04-27 04:22] #25 closed

[2017-04-27 04:24] martysweet commented on #23
- [ ] Check this is still an issue
- [ ] Add a test
- [ ] Fix the problem

[2017-04-27 04:32] martysweet opened #36 "Improve CLI Interface"
The CLI interface isn't great.

- [ ] Allow for randomly ordered parameters
- [ ] Attempt to mimic `aws cloudformation validate-stack` and parameters as closely as possible
- [ ] Add help and hints (auto completion?)

[2017-05-05 06:16] martysweet opened #38 "Circular dependency detection"
Detect circular dependencies in the template. This is not urgent as it is caught by AWS before deploying a template.

[2017-05-10 12:00] JermilaPaulDhas opened #39 "Doesn't handle the output section in a cloudformation stack"
Invalid references made in the output section of the cloudformation stack is not handled.

[2017-05-11 05:45] martysweet commented on #39
@JermilaPaulDhas Thanks for reporting this. The issue appeared to be references/getattributes not being validated within the Intrisinic Sub function. A fix has been released in v1.1.3, which you can download from npm now.

If the problem persists, please provide an example template with the issue.

PR: #40

[2017-05-11 05:46] #39 closed

[2017-06-06 12:16] martysweet opened #42 "ManagedPolicyName is not a valid property"
[code]

Results in:

[code]

However "ManagedPolicyName" is specified here http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-managedpolicy.html

[2017-06-06 13:31] martysweet opened #43 "Bucket Transitions non-array not detected"
[code]

is Invalid as Transitions should be array types (http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-lifecycleconfig-rule.html).

[code]

would be correct...

[2017-06-07 14:45] martysweet opened #44 "GetAtt does not support attributes with double periods"
[code]

Results in
[code]

However `!GetAtt Database.Endpoint.Address` is valid and works in CloudFormation.

[2017-06-07 14:47] martysweet opened #45 "ALBRule does not like *"
[code]

Results in
[code]

However "*" is valid

[2017-06-07 15:39] martysweet commented on #43
This appears to be a problem with the aws_resources document from AWS.
https://d1uauaxba7bl26.cloudfront.net/latest/gzip/CloudFormationResourceSpecification.json

Below you can see the deprecated `Transition` and the newer `Transitions` property which should expect the list, however the specification for these is the same.

[code]

The correct specification for this resource would be as below. The

[2017-06-07 15:55] martysweet commented on #42
This was not reproducible on another machine. The most likely issue was an out of date version of cfn-lint.

[2017-06-07 15:55] #42 closed

[2017-06-07 15:58] martysweet commented on #44
Resolved in v1.1.5

[2017-06-17 13:14] mithun opened #47 "CLI exit codes"
Can the CLI provide a non-zero exit code for invalid templates, and optionally when `crit` and `warn` results exist?

This will allow cfn-lint to be used in a CI process that can abort/fail when invalid templates and/or critical errors are present

[2017-06-27 12:46] martysweet commented on #44
This still appears to be an issue in v1.1.5

[2017-06-27 12:46] martysweet commented on #47
Thanks @mithun, if you have a chance to make a PR that would be great.

Marty

[2017-06-27 12:49] martysweet commented on #45
http://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#path-conditions

[2017-07-03 18:12] tchia04 opened #49 "Raise a critical error when S3Bucket name have upper case."
This template will fail with the message "Bucket name should not contain uppercase characters
"

However cfn-lint is not able to catch this.
$ cfn-lint validate s3bucket_parameter.yaml
0 infos
0 warn
0 crit
Template valid!

`Tonys-Mac-mini:~/cloudformation $  cat s3bucket_parameter.yaml
---
  AWSTemplateFormatVersion: "2010-09-09"
  Parameters:
    BucketName:
      Description: "Name of MyS3Bucke

[2017-07-04 14:00] martysweet commented on #49
Thanks, this makes sense as S3 Buckets are a common resource to use.

I think a custom attribute checker would be needed to allow this functionality to be expanded to different types. Probably another JSON file which specifies the type name, in this case `AWS::S3::Bucket.BucketName` with the validation rules and messages to test/show. Then a small bit of code which uses this JSON to run the valida

[2017-07-16 20:49] martysweet opened #51 "GetAtt in Outputs not reporting template invalid"
Template

[code]

Results in a Valid Template, however `Database` is not defined in resources, so this template should be invalid.

[2017-07-26 13:44] admiralAwkbar opened #52 "errorr: uncaughtException: toGet.slice when running validate"
When i run the command: /usr/bin/cfn-lint validate idam-master-apps.yml

i get the following error:
root@bd9dd3ebbb6a:/home/jenkins/workspace/gehc-cft-idam/gehc-cft-idam# /usr/bin/cfn-lint validate idam-master-apps.yml
2017-07-26T13:42:37.586Z - error: uncaughtException: toGet.slice(...).join is not a function date=Wed Jul 26 2017 13:42:37 GMT+0000 (UTC), pid=708, uid=0, gid=0, cwd=/home/jenkins/w

[2017-08-14 14:25] martysweet commented on #52
Hi @admiralAwkbar,

Did you manage to get this working? I imagine the template was invalid however it should of been handled slightly better than this...

[2017-08-16 12:15] admiralAwkbar commented on #52
Hello, i believe the error is stemming from trying to validate complex CFT's that link to other yml files. When i run on small simple CTF's, it works as expected. I think the error is just a little bit unhandled

[2017-08-16 12:15] #52 closed

[2017-09-04 09:31] smithyuk opened #54 "GetAZs function is unknown"
Check your template is not malformed. unknown tag !<!GetAZs>

`Usage:
SubAStack:
  Properties:
    Parameters:
      AvailabilityZone: !Select ['0', !GetAZs {Ref: 'AWS::Region'}]
  Type: AWS::CloudFormation::Stack`

[2017-09-17 15:29] ssnorrizaurous opened #55 "CloudFormation Stack Resoure - Passing Parameters causes uncaughtException"
When using  an AWS::CloudFormation::Stack resource type, in both JSON and YAML, if parameters are passed under resource properties validation fails with _error: uncaughtException: Cannot read property 'hasOwnProperty_.  From error messages and my own troubleshooting, I believe that this bug is from validator.js's function checkResourceProperties, when it attempts process each property for property

[2017-09-21 12:08] tlycken opened #56 "Support for SAM transform?"
Is it possible to start supporting the [Serverless Application Model](https://github.com/awslabs/serverless-application-model) transform in the linter?

Currently, I get a bunch of errors like this on my template, which makes the tool quite useless:

[2017-10-03 04:41] aarongorka opened #57 "Validation without parameters"
I'd like to be able to locally validate the syntax of my CloudFormation templates on PRs. I don't have any requirements to validate parameters and it's not realistic for me to document the parameters of all the templates I have. It would be quite useful to skip that option and any validation that depends on passing through parameters.

[2017-10-08 17:02] martysweet commented on #54
Can you provide an example which caused this error to occur?

[2017-10-08 17:08] martysweet commented on #57
@aarongorka The AWS CLI has a validate-template command which will do a simple check http://docs.aws.amazon.com/cli/latest/reference/cloudformation/validate-template.html, however this tool doesn't check the validity of properties for resources.

cfn-lint depends on input parameters as it resolves all the references to ensure you haven't missed something, it will then check the properties of each

[2017-10-08 20:41] aarongorka commented on #57
@martysweet the AWS CLI does validation on Amazon's side, meaning it's really slow to check lots of templates and relies on having credentials (which is a bit of a pain when you're using assume role).

Using parameter defaults could actually be a viable workaround, I hadn't considered that. I think a lot of my templates will having defaults missing so it'd still be nice to be able to do limited va

[2017-10-25 23:18] aarongorka opened #59 "Validation on properties of a parameter"
An invalid property on a parameter doesn't seem to trigger an error (there's a typo in the `Default` key):

[code]

This parameter was used in some UserData via `Fn::Sub`.

[2017-10-27 00:28] aarongorka opened #61 "Conditional properties failing to evaluate"
I'm not sure if this is currently supported, but I have some conditionals that are empty after being evaluated:

[code]

`cfn-lint validate myapp.yml --pseudo AWS::Region=ap-southeast-2`

Results in:

[code]

[2017-10-29 19:07] martysweet commented on #61
Thanks for the issue, I have made PR https://github.com/martysweet/cfn-lint/pull/63.

Looks like there was an issue where the Fn::If was not processing the Condition properly. Additionally the Default value for the Parameter was not being read in by default.

Should be happy to merge it to fix your issue once I have added a few more templates which use conditions extensively.

[2017-10-29 19:31] martysweet opened #66 "Use CircleCI 2.0"
Use CircleCI 2.0 for faster tests and builds

[2017-10-31 14:56] concon121 opened #68 "Can not read property'hasOwnProperty' of null"
Getting this error from a fresh install of cfn-lint version 1.1.7.

The cloudformation template i'm using is a valid json format template which has already been deployed successfully.

[code]

[2017-11-06 03:31] akdor1154 opened #69 "Exception when passing an AWS::ECS::TaskDefinition with LogConfiguration"
task.yaml:
[code]
`cfn-lint validate task.yaml`
[code]

[2017-11-06 04:18] akdor1154 opened #70 "Typescript?"
Hey,
I'm trying to write a PR to add map support and I'm finding that there are a lot of extraneous checks in this project for whether properties exist or not, etc. It's always good to be careful with js, but I think the level you are going to here is leading to a quite difficult to read codebase.

Would you accept a PR to write this in Typescript instead of es6? I'm happy to do the work, you're a

[2017-11-08 19:18] martysweet commented on #70
Hi Jarrad,

I think implementing TypeScript is a good call, 100% agree on the readability issues.

Thanks,
Marty

[2017-11-08 20:11] #69 closed

[2017-11-08 20:11] martysweet commented on #47
Merged in #62

[2017-11-08 20:11] #47 closed

[2017-11-08 22:19] akdor1154 commented on #70
Awes. I have a little time on this now so will try and get it done in the next day or two. I'll start with a verbatim translation to get it through then work on tightening it up after (much  *much* easier to refactor with a compiler to help you). Kind of related - what's your branching strategy? Should I be PR-ing against master or release? If release, then what is the purpose of master?

[2017-11-08 22:20] akdor1154 commented on #70
aaand one more thing, can I target Node 4? or do you want to keep support for Node 0.x?

[2017-11-09 06:22] akdor1154 opened #73 "Could auto-mock Arn parameters"
Currently, if a ResourceType has an Attribute with 'Arn' in its name, cfn-lint mocks the attribute value to be a valid arn.

Would it be acceptable to extend this behaviour to Parameters with 'Arn' in the name? I structure my templates like this already so it would certainly fit my needs. This would obviate the need to pass mock Arn parameters by hand. It is 'opinionated' behaviour though, so I'm

[2017-11-09 18:48] martysweet commented on #68
Hi @concon121,

Would it be possible for you to try v1.2.0? I was unable to reproduce your issue with v1.1.7 on your  NodeJS version.

If this still doesn't work, would it be possible to provide the template? (or an abstraction of it which causes the error).

Thanks,
Marty

[2017-11-09 18:52] martysweet commented on #61
@aarongorka This should be fixed in v1.2.0, let me know if it resolves the issue!

[2017-11-13 06:00] martysweet commented on #70
@akdor1154 PRs should be against the development branch. I will update the CONTRIBUTING.md and README.md files.

I would be happy with min Node 4, looks like v0.12.x was EOL at the end of 2016. Will also update the documents regarding this.

Thanks for all your work on this, much appreciated!

[2017-11-13 06:01] martysweet opened #74 "Update CONTRIBUTING.md and README.md"
Update the files about the new branching strategy, brief project overview and status.

If all happy with TS, add TS documentation for newcomers to learn from.

[2017-11-16 04:27] akdor1154 opened #77 "Custom resources should be able to have any attribute accessed"
The Attributes that a `Custom::` resource can have are arbitrary. Accessing any attribute of a Custom resource should return a mock value instead of creating an error.
Happy to work on this, just logging it so I don't forget :)

[2017-11-16 04:45] akdor1154 opened #78 "Feature request - be able to call as a node library and access stack outputs"
I am working to integrate this tool with [Sceptre](http://github.com/cloudreach/sceptre), which is a tool to orchestrate a set of stacks being deployed at once. I am not attempting to actually modify sceptre to call cfn-lint directly, but I am writing a local validation tool that runs `cfn-lint` on all stacks in a Sceptre environment.

It would be really helpful to be able to do require('cfn-lint'

[2017-11-16 04:49] akdor1154 opened #79 "Feature request - more control over parameter validation"
It would be useful if cfn-lint could be ran in a sort of 'strict mode' that it would create an error if a parameter was missing and not provided as a Default or on the CLI, instead of (or maybe as well as) proceeding with a mocked value.

Perhaps an optional `options` argument passed to `validateFile` to switch behaviour.

Would you accept this?

[2017-11-16 09:13] martysweet commented on #78
Yes, this is something I have been wanting to do but haven't got around to yet :+1:

[2017-11-16 09:15] martysweet commented on #79
Doesn't this already happen if the missing Parameter is used?

[2017-11-16 11:44] concon121 opened #81 "API Gateway Support"
We're getting a bunch of critical issues on our API Gateway definitions, which we believe are not actually issues.

They are mostly variations on these 3 issues:

*API Gateway Resource PathPart*
Resource: Resources > APIGatewayResource > Properties > PathPart
Message: Expected type String for PathPart, got value '{myPathPart}'

*API Gateway Integration Responses*
Resource: Resources > APIGatewayGe

[2017-11-16 22:48] akdor1154 commented on #79
Nope, it gets a value of `let parameterRefAttribute = \`string_input_${param}\`;`. You do currently get a roundabout warning if the parameter then gets used in an Arn property (or I guess for a List or Map), but this is based on type mismatch, not because the parameter has been mocked.

[2017-11-18 14:26] martysweet commented on #79
Good point, something flaggable would be great.

[2017-11-18 14:41] martysweet opened #83 "Add code coverage reporting"
Similar to https://raw.githubusercontent.com/CircleCI-Public/circleci-demo-javascript-express/master/.circleci/config.yml

[2017-11-18 14:49] martysweet commented on #83
http://rundef.com/typescript-code-coverage-istanbul-nyc

[2017-11-18 17:45] martysweet commented on #81
@akdor1154, I have made a test case in branch issue-81.
Currently failing on `.\*InternalServerError.\*` and `{myPathPart}`, which are valid in CFN land.
Will #76 resolve these issues?

Looks like https://github.com/martysweet/cfn-lint/blob/b1c25cabc7037e63983caff53ab3f69d2037f2ab/src/validator.ts#L1160 will need to be a lot more lenient to support all regex strings and strings starting and ending

[2017-11-18 17:47] #45 closed

[2017-11-18 22:39] akdor1154 commented on #81
Yeah #76 should solve this, it accepts any string.

[2017-11-19 13:48] #61 closed

[2017-11-19 15:12] martysweet opened #91 "Fix v1.3.3 issues"
V1.3.0 -> V1.3.3

[2017-11-19 15:23] martysweet commented on #91
[code]

[2017-11-19 17:44] #91 closed

[2017-11-19 17:44] martysweet commented on #81
@concon121, this should now be fixed and is available on NPM. Let us know how it goes!

[2017-11-19 17:46] #78 closed

[2017-11-19 17:46] #74 closed

[2017-11-19 17:47] #77 closed

[2017-11-19 17:47] martysweet commented on #70
Released in v1.3.4

[2017-11-19 17:47] #70 closed

[2017-11-19 17:47] martysweet commented on #66
Released in v1.3.4

[2017-11-19 17:47] #66 closed

[2017-11-19 17:50] martysweet commented on #55
@ssnorrizaurous Could you try again with v1.3.4? The validator has been refactored. Thanks!

[2017-11-19 17:51] martysweet commented on #51
This issue is still present in v1.3.4

[2017-11-19 17:52] martysweet commented on #44
Working in v1.3.4

[2017-11-19 17:52] #44 closed

[2017-11-19 18:01] martysweet opened #94 "Parameter type List<AWS::EC2::SecurityGroup::Id>"
[code]

Results in:
[code]

However `List<AWS::EC2::SecurityGroup::Id>` is valid.

cfn-lint@1.3.4

[2017-11-19 18:07] martysweet opened #95 "parts.join is not a function when getting Custom Resource outputs"
Ab abstract from CFN template from http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/quickref-lambda.html.
[code]

Results in:
[code]
cfn-lint@v1.3.4
https://github.com/martysweet/cfn-lint/blob/fc3139c69d39853dfd8d9feec2e07c995b19bb30/src/validator.ts#L926

@akdor1154 I'm guessing this is due to the custom resource mocking? The below seems to be valid.
[code]

[2017-11-19 18:08] martysweet commented on #59
Thanks @aarongorka

This is still an issue in v1.3.4.

[2017-11-19 18:14] martysweet commented on #56
@tlycken Do you know whether SAM has a specification file similar to CloudFormations http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-resource-specification.html?

From a quick search I couldn't find one which makes implementing this tricky...

[2017-11-19 21:23] akdor1154 commented on #95
This one's tricky. There's no way of us knowing what type `Value` should be, it would need to be specified by the user somehow. My approach for mocking was to return a string for any accessed resource, which is not true in this case (but we have no way of knowing that without actually executing the custom resource, which obviously we can't do).

Or we could super-klutz it and create some magic 'mo

[2017-11-19 21:47] akdor1154 commented on #49
I was wondering about a JS file instead of a JSON file, that way we could just write arbitrary validation functions. (this one is also something I've been wondering about).

[2017-11-19 21:50] akdor1154 commented on #59
Two approaches -
  - hand-write custom validation code for Parameters (also Outputs and Metadata and probably others) (not actually that awful, it would be quite small and probably reusable between all of these sections)
  - write a json schema for these sections, add a runtime dependency on jsonschema, and run jsonschema validation at validation time.

I am actually tending towards the first, but

[2017-11-20 00:20] akdor1154 commented on #83
One note on this - most of the validator tests are written more like integration/functional tests, not unit tests - this is fine in general, but it does mean that they will artificially inflate your code coverage numbers (for example, code coverage would probably end up reporting full coverage of resourcesSpec.ts just from running validator.spec.ts on its own, because the stuff in resourcesSpec en

[2017-11-20 06:16] tlycken commented on #56
AFAIK, the contents of the repo I linked are the closest thing to a formal spec there is; specifically [this file](https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md).

I don't know if there's any process setup for change/adding new versions or if Amazon just do whenever it pleases them (i.e. whenever they publish a new implementation on AWS...) but that doc

[2017-11-20 23:45] concon121 commented on #81
Yep this is working a lot better for us!  Thanks guys :sunglasses:

[2017-11-20 23:45] #81 closed

[2017-11-21 21:44] akdor1154 commented on #95
Maybe just user-specifiable Custom Resource values akin to [Pseudo-]Parameters?
`--custom-resource-attributes AllSecurityGroups.Value=["a","b"]` (match on resource name) and/or `--custom-resource-attributes Split.Value=["a","b"]` (match on Custom::`this bit`) ?

Secondary concern here would be we currently can't pass lists on the command line but that's a separate issue I think.

[2017-11-23 00:21] aarongorka opened #98 "NotificationConfiguration is not a valid property of AWS::AutoScaling::AutoScalingGroup"
[code]

This valid template returns an error when validating. The AWS documentation seems to be inconsistent as to what the property is actually called:

NotificationConfiguration**s**
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-group.html

NotificationConfiguration (note the random s in the JSON string - something went wrong here!)
http://docs.aws.amazon.com/AW

[2017-11-29 02:07] akdor1154 commented on #98
I think `cfn-lint` is in the clear here.
`NotificationConfigurations` is the name of the property AWS wants to see on an `AutoScalingGroup`.
`NotificationConfiguration` is the name of the schema / data-type that the value of that property should take.

According to the AWS docs, your template should look like
[code]
This template passes `cfn-lint`. (I haven't deployed it though, let me check this)

[2017-11-29 02:40] akdor1154 commented on #98
The above template (expanded slightly:
[code]
) launches successfully.

I would consider the fact that `NotificationConfiguration` works in practice to be an undocumented feature, maybe even implementation detail, in CloudFormation.

[2017-11-29 09:17] #79 closed

[2017-11-29 09:17] #94 closed

[2017-11-30 00:09] aarongorka commented on #98
I'm happy with that, I will fix my templates 🙂

[2017-11-30 00:09] #98 closed

[2017-12-05 13:36] venutm opened #101 "Support for AWS::CloudFormation::Init"
In future are you planning to add support for AWS::CloudFormation::Init, configs and commands.
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-init.html

[2017-12-05 16:18] mikecbrant opened #102 "Validation fails on unsupported intrinsic function"
First off, thanks for work on this library, I have been pretty happy in exploring its use within my toolchain.  I am wondering if you have given consideration to having known unsupported functionality (i.e. for Fn::Select) not be consider a critical (perhaps optionally).  I would think more desirable behavior would be to warn on unsupported function, such that an otherwise valid template does not

[2017-12-06 11:52] martysweet commented on #102
Unsupported functions are treated as warnings, I think the problem here is that the validator is leaving the unresolved intrinsic function and then expecting a String for AvailabilityZone.

This could be resolved in two ways:
- a) Implement all remaining intrinsic functions
- b) On an unhandled intrinsic function, return a string

@akdor1154 Do you have any ideas for this?

[2017-12-06 11:58] martysweet commented on #101
Currently, we are not processing the Metadata tag for defined resources (which wouldn't be too hard to add). Unfortunately, `AWS::CloudFormation::Init` isn't specified within the AWS CloudFormation Specification https://d1uauaxba7bl26.cloudfront.net/latest/gzip/CloudFormationResourceSpecification.json, which makes this feature slightly harder to implement.

If know of any schemas for this type, th

[2017-12-06 12:00] martysweet commented on #54
GetAZs is not currently implemented, it should be reasonably trivial to add by following the examples for the other doIntrinsicFunctions().

[2017-12-07 03:11] akdor1154 commented on #102
probably a) is the best solution :) might be worth doing b) in the interim though.

[2017-12-15 21:39] darrensony opened #103 "Empty files to validate throw exception"
### Example
[code]

### Current Behaviours
- cfn-lint throws an exception
- cfn-lint sets the shell return code to 0 (valid template)

### Expected Behaviours
- cfn-lint should not throw an exception
- cfn-lint should set the shell return code to 1 (invalid template)

[2018-01-31 16:07] eemperor opened #106 "Fn::If parameters not being evaluated properly"
cfn-lint is reporting critical errors when processing the following template:

[Cfn Template](https://github.com/plus3it/terraform-aws-watchmaker/blob/master/modules/lx-instance/watchmaker-lx-instance.cfn.json)

[Affected Section, Line 1049](https://github.com/plus3it/terraform-aws-watchmaker/blob/master/modules/lx-instance/watchmaker-lx-instance.cfn.json#L1049)

The template above functions prope

[2018-01-31 16:34] eemperor commented on #106
Here's a simplified template that exhibits the issue:
[code]

[2018-01-31 19:44] martysweet commented on #106
Thanks @eemperor, it looks like there are two slightly different problems here.

The first is the correct operation of the Fn::If statement, however, the Ref of AWS::NoValue results in undefined, as specified here. https://github.com/martysweet/cfn-lint/blob/f182abdbe58aca035450ed875fc6206d8b9f20d9/src/awsData.ts#L118

This should be handled too (I assume) null out the property defined. This may b

[2018-02-01 12:45] bushong1 opened #107 "Parameter type of `AWS::SSM::Parameter::Value<String>` not allowed"
The linked documentation has a "SSM Parameter Types" section that discusses these parameter types, but cfn-lint doesn't yet support it.
[code]

[2018-02-09 17:33] martysweet commented on #107
Implementing this will require SSM parameters to be defined on the CLI/(as input parameters) at the time of validation, in order to allow the fetching step to enable full validation, for example, the value pulled for SSM might be used in a Map.

This shouldn't take too long to implement and would be very similar to the parameters and pseudoParameters logic.
https://github.com/martysweet/cfn-lint/b

[2018-02-09 17:33] #36 closed

[2018-02-15 10:32] kisst opened #108 "Static binary / distro package release"
The tool is great but npm / yarn  as a delivery method is a big show stopper for some of us, apparently node can build [fully-static](https://github.com/nodejs/node/wiki/statically-linked-executable) as well, so as part of the release this bin can be published, or at least instructions how to produce them.

Alternatively just OS packages like rpm , deb or even snap , flatpack would be welcome.

[2018-02-15 18:38] martysweet opened #110 "No <cmd> advice on cfn-lint --help"
The help section should show some examples of how to use the command. Including what options for <cmd> there are.

[code]

[2018-02-15 19:10] martysweet commented on #108
@kisst Thanks for the feedback. I have had a play in the static-build branch. This is currently building a deb, however, there is still a dependency for nodejs to be installed.

https://github.com/martysweet/cfn-lint/compare/package-build?expand=1

First, clone the cfn-lint repo

[code]

Docker shell to test
[code]

During testing I had problems with Node v4.2.6 during validation, this looks like

[2018-02-15 19:15] martysweet opened #111 "Minimum NodeJS compatibility"
Review the minimum supported NodeJS version for cfn-lint.

I have had problems with v4.2.6, however, the README.md states that v4 and above should be supported, which is clearly not the case.

With nvm or nvs, go through the NodeJS versions and see where the compatibility breaks when validating files - it would be cool if someone knows an automated way of doing this! Either resolve the bug causing

[2018-02-15 19:39] LuigiBaute opened #112 "Spanish Translations"
hello I would like to collaborate with your Spanish translator project which is my native language, I could translate any text

[2018-02-15 19:39] LuigiBaute commented on #112
hello I would like to collaborate with your Spanish translator project which is my native language, I could translate any text

[2018-02-16 10:17] kisst commented on #108
Hi @martysweet Thanks for this pretty neat and quick respond I certainty can help with the .deb route, right now pretty busy on the project but will try to find time and send you a PR soon to the `package-build` with the deb packaging instruction.

[2018-02-16 10:45] martysweet commented on #108
Great, if it becomes a popular choice we can then look into supporting PPAs for distributions. But would be useful to see the uptake of it first.

Would be happy to have a .deb built on release and available for download.

- Add new CircleCI workflow (which runs on Tag)
- Do npm version logic
- Do build-deb
- Upload artefact to S3 for public consumption

[2018-02-16 10:58] martysweet commented on #112
Hi @LuigiBaute,

Thanks for your interest in the project. The main document for this project is the [README.md](https://github.com/martysweet/cfn-lint/blob/master/README.md).

For now, to enable future updates to a file and understanding by maintainers who are not Spanish, would it be possible to label each section header as follows.

[code]
A pull request with a file of README_es.MD, would be gre

[2018-02-17 00:21] LuigiBaute commented on #112
Ok I'll do it exactly as you asked!

[2018-02-17 18:10] LuigiBaute commented on #112
is this what you meant?:

# cfn-lint [![CircleCI](https://img.shields.io/circleci/project/github/martysweet/cfn-lint.svg)](https://circleci.com/gh/martysweet/cfn-lint) [![npm version](https://badge.fury.io/js/cfn-lint.svg)](https://www.npmjs.com/package/cfn-lint) [![npm](https://img.shields.io/npm/dm/cfn-lint.svg)](https://www.npmjs.com/package/cfn-lint)

[//]: # (Translation Section: A more frien

[2018-02-17 20:31] martysweet commented on #112
Hi @LuigiBaute, just the comments for each header should be fine.

[code]

Thanks!

[2018-03-06 15:00] daytonpa opened #115 "AWS::AutoScaling::AutoScalingGroup lint check looks for a string, not list"
`"AWS::AutoScaling::AutoScalingGroup"` contains a property, `"VPCZoneIdentifier"`, that requires a list of string values.  Those values are being passed through a mapping function, and return an error:

[code]

Here is a snippet of the template:
[code]

[AWS Documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-group.html#cfn-as-group-vpczoneidentifier)

[2018-03-10 00:43] ericraymond opened #117 "Winston logger error"
/usr/local/lib/node_modules/cfn-lint/node_modules/winston/lib/winston/common.js:162
        throw new Error([
        ^

Error: winston.Logger was moved in winston@3.0.0.
Use a winston.createLogger instead.
    at new <anonymous> (/usr/local/lib/node_modules/cfn-lint/node_modules/winston/lib/winston/common.js:162:15)
    at Object.<anonymous> (/usr/local/lib/node_modules/cfn-lint/lib/logger.js:3:1

[2018-03-12 06:14] micmicsuarez commented on #117
Hi guys,

I encountered the same issue also.

Thanks,
Michael

[2018-03-12 07:18] martysweet commented on #117
Ah, will have a patch released in the next couple of hours!

[2018-03-12 09:13] martysweet commented on #117
@ericraymond @micmicsuarez This should now be fixed. Let me know if you have any problems. :+1:

[2018-03-12 09:21] martysweet commented on #115
Hi @daytonpa,

By stating
[code]

I think that would create the substitution of:
[code]

Which would make sense with the error cfn-lint is throwing, as the first element should be a string and an array is seen. If this works on CloudFormation it is possible they detect this as a common error and work around it.

Hope that helps,
Marty

[2018-03-12 10:42] micmicsuarez commented on #117
Hi @martysweet.

It worked! :)

Thanks,
Michael

[2018-03-12 17:45] ericraymond commented on #117
That fixes that issue, but I get an error on parts.join not a function.  Will log another issue:

[2018-03-12 17:46] ericraymond commented on #117
2018-03-12T17:43:27.037Z - error: uncaughtException: parts.join is not a function date=Mon Mar 12 2018 10:43:27 GMT-0700 (PDT), pid=36819, uid=501, gid=20, cwd=/Users/ericraymond/src/omni/mm/mm-spark/ci/sjs/config/emr, execPath=/usr/local/Cellar/node/9.8.0/bin/node, version=v9.8.0, argv=[/usr/local/Cellar/node/9.8.0/bin/node, /usr/local/bin/cfn-lint, validate, cloudformation/mm.yaml], rss=42012672

[2018-03-12 17:51] ericraymond commented on #95
I'm getting this error without mocking, but there are lots of uses of Fn::Join and Fun::Sub in the template.  This template was modeled after the mongo quickstart template.

[2018-03-12 17:52] ericraymond commented on #95
Is there a way to find the line number in the template file where the problem occurs?
2018-03-12T17:43:27.037Z - error: uncaughtException: parts.join is not a function date=Mon Mar 12 2018 10:43:27 GMT-0700 (PDT), pid=36819, uid=501, gid=20, cwd=/Users/ericraymond/src/omni/mm/mm-spark/ci/sjs/config/emr, execPath=/usr/local/Cellar/node/9.8.0/bin/node, version=v9.8.0, argv=[/usr/local/Cellar/node/9.

[2018-03-12 21:25] martysweet commented on #95
Hi @ericraymond, could you provide a template which makes it fail. Hopefully, I should be able to follow it by using a debugger and see where it's tripping itself up.

[2018-03-12 23:41] ericraymond commented on #95
Here is a quickstart template from Amazon that fails.  My file is a bit different, but I started with a yaml'ized version of this.

https://raw.githubusercontent.com/aws-quickstart/quickstart-mongodb/master/templates/mongodb-master.template

[2018-03-27 15:52] RazzM13 opened #119 "Unable to build"
I was just trying to replicate the build environment for this project and I've discovered that the project will not build.

Steps to replicate:
1) `git checkout 2c5ff5dfac7d6962a68c08ee1bd16abeb2667c4f`
2) `npm install`
Output: [npm_install.log](https://github.com/martysweet/cfn-lint/files/1852699/npm_install.log)
3) `npm run build`
Output: [npm_build.log](https://github.com/martysweet/cfn-lint/fi

[2018-03-27 15:53] RazzM13 commented on #119
After some investigation, I believe that the fault lies with the version of the *@types/colors* package.

[2018-03-27 15:59] martysweet commented on #119
@RazzM13 Yeah, I was just about to comment that.

Looks like fresh builds are working fine on CircleCI so not sure why it would be happening in your environment. Let me know what you discover!

[2018-03-27 16:22] RazzM13 commented on #119
I believe that the core of the problem is the depedency cache system due to the fact that it checks the `package.json` file for changes, when perhaps it should be using `package-lock.json`.

[2018-03-28 12:54] RazzM13 opened #121 "Uncaught exception exit code coherency"
Apparently, when the `cfn-lint` cli executable encounters an uncaught exception during the `validate` command, it logs the exception's stack trace and returns a `0` exit code, implying that the program exited succesfully. However, at least from my limited point of view, this should not be the case due to the fact that it was actually unable to parse and determine the template's validity and theref

[2018-03-28 13:06] RazzM13 opened #122 "Uncaught exception behavior"
Apparently, when the `cfn-lint` cli executable encounters an uncaught exception during the `validate` command, it outputs the associated stack trace.

Perhaps it would be more consistent to output `Unable to parse template!` instead of the rather lengthy stack trace.

[2018-03-28 13:28] RazzM13 opened #123 "Validation error for 'null' values"
Apparently, when `cfn-lint` encounters a `null` value in a template, it is unable to process it and throws an exception.

Steps to reproduce:
1) Create a `test.yaml` file that triggers a `null` value exception, perhaps with the following contents:
[code]
2) Attempt to validate the file:
`cfn-lint validate test.yaml`
3) Observe the output:
[validate.log](https://github.com/martysweet/cfn-lint/files

[2018-03-28 16:12] martysweet commented on #121
Thanks @RazzM13. Agreed, a non-zero code should be returned on a stack trace.

[2018-03-28 16:14] martysweet commented on #122
Agreed. This can also be merged with issue #121 to resolve the exit code issue.

Stack traces can be useful for debugging, we still need a method to see this to work out whats gone wrong.

[2018-03-28 16:26] martysweet commented on #119
Thanks @RazzM13, the patch has now been merged into master. Will look into `package-lock.json`!

[2018-03-28 16:26] #119 closed

[2018-03-28 16:44] RazzM13 commented on #121
Hi @martysweet, I'll probably be looking at this tomorrow. In the mean time could you please shed some light upon the following question: given that exit code `1` is being used already, should we be using a different one and if so which?

[2018-03-29 09:52] martysweet commented on #121
@RazzM13

Just working from an example, according to http://www.tldp.org/LDP/abs/html/exitcodes.html, `1` would be "General Error" and `2` would be "Misuse of shell builtins".

I think the question we should ask is "would it be useful or confusing?". The important thing here is merging this change with issue #122, which will return a useful error message to be interpreted by a user.

Stack traces

[2018-03-29 09:55] martysweet commented on #122
I think adding a `--verbose` flag would be good, this would then provide further scope if we wish to return other information to the user during runtime.

[2018-03-29 18:51] RazzM13 opened #125 "Generic uncaught exception handling"
Apparently, `cfn-lint` circumvents NodeJS's default behaviour of returning an exit code of `1` when an uncaught exception bubbles up to the event loop.

Steps to reproduce:
1) Trigger an uncaught exception (e.g. attempt to validate a non-existing file).
2) Check the exit code.
[validate.log](https://github.com/martysweet/cfn-lint/files/1855988/validate.log)

[2018-03-29 18:56] RazzM13 commented on #121
Please have a look at #125.

[2018-03-30 10:28] RazzM13 commented on #111
Using a simple bash script and [envirius](https://github.com/ekalinin/envirius#installation), I have managed to run the tests on it's precompiled NodeJS versions ranging from `4.0.0` to `9.9.0`, and here's a quick comparison between the failed versions and the ones that passed the test:

Failed|Passed
---|---
4.0.0|-
4.1.0|-
4.1.1|-
4.1.2|-
4.2.0|-
4.2.1|-
4.2.2|-
4.2.3|-
4.2.4|-
4.2.5|-
4.2.6|-
4

[2018-04-02 06:40] RazzM13 commented on #111
In follow-up, I've just noticed that, for the majority of test failures, the folllowing stack trace is printed:
[code]

And after a bit of investigation, I believe it is related to [this issue](https://stackoverflow.com/questions/36899888/getting-typeerror-this-is-not-a-typed-array-using-buffer-from-in-mocha).

[2018-04-02 08:40] RazzM13 commented on #111
After implementing the above mentioned fix, all tests are passing on all the node versions mentioned in my previous comment.

[2018-04-02 12:14] RazzM13 commented on #111
I've just added a new test to the CircleCI flow that checks for compatibility between the resulting build and all the NodeJS versions supported by `envirius`. The environment compatibility tests run after the regular tests finish so that environment specific errors do not get confused for normal errors. Runtime wise, they do add a bit of latency to the build but I hope that's not a problem or, if

[2018-04-02 12:39] RazzM13 opened #129 "Build dependency cache validity"
Apparently, the CircleCI build system is currently creating a cache of the `node_modules` folder that contains this project's depedencies, as installed by `npm`; I believe that this is great as it reduces build time considerably however, the cache's validity is controlled via a checksum of the `package.json` file, as depicted by the cache key's value (`dependency-cache-{{ checksum "package.json" }

[2018-04-02 15:04] martysweet commented on #111
I'm not keen on having the build take more than a couple of minutes, especially for an issue which will affect a small percentage of users. For small changes, it makes things very slow and cumbersome when waiting for successful status checks before merging.

Saying that, it would be nice to test for the most popular node versions and then keep the scripts for _all_ versions for manual runs, if/whe

[2018-04-02 15:16] #123 closed

[2018-04-02 15:27] #112 closed

[2018-04-02 16:59] RazzM13 commented on #111
Sounds great, I'm not really familiar with NodeJS and even less with it's releases however, I've just done a bit of research in this matter and found out from [here](https://github.com/nodejs/Release) they have three major `Active LTS` releases: `Argon - 4.x`, `Boron - 6.x`, `Carbon - 8x` and apparently the `Current Release - 9.x`. Therefore, if I understand correctly, the regular build should alw

[2018-04-03 08:01] martysweet commented on #111
@RazzM13 Yeah, lets test against all supported major LTS versions.
If we run into problems with specific versions distributed by distros such as Ubuntu, we can add them in for checking at a later date. Same thing with the full check.

[2018-04-04 18:08] #121 closed

[2018-04-04 21:01] #125 closed

[2018-04-04 21:04] #103 closed

[2018-04-04 21:04] #111 closed

[2018-04-04 21:04] #122 closed

[2018-04-05 12:01] RazzM13 commented on #95
AFAICT from the abstract, the main issue here is that the instrinc function `Fn::GetAtt` is returning the list of values that will be used by `Fn::Join`, hence the missing `-` before the `Fn::GetAtt`. If this is the case then perhaps you should consider PR #133.

[2018-04-06 07:16] RazzM13 commented on #54
I'm guessing this is an older issue that no longer applies, as I've just managed to validate the following template:
[code]
If this is the case then perhaps it should be closed.

[2018-04-06 07:32] RazzM13 commented on #102
Current [AWS Intrinsic functions]() support:

- [x] Ref
- [x] Fn::Join
- [x] Fn::Base64
- [x] Fn::GetAtt
- [x] Fn::FindInMap
- [x] Fn::GetAZs
- [x] Fn::Sub
- [x] Fn::If
- [x] Fn::Equals
- [x] Fn::Or
- [x] Fn::Not
- [x] Fn::ImportValue
- [x] Fn::Select
- [ ] Fn::Cidr
- [ ] Fn::Split
- [ ] Fn::And

Based on:
https://github.com/martysweet/cfn-lint/blob/78c82a5c128a9a3295413f4083aac7b5aa3ba53b/src/val

[2018-04-06 08:34] hoshsadiq commented on #56
There is a [json schema](https://github.com/awslabs/serverless-application-model/blob/9ca6e340f051eaa670962303aff64f6cbeea181e/samtranslator/validator/sam_schema/schema.json) file if that helps?

[2018-04-07 02:02] tomdionysus opened #134 "FN::GetAtt can return an array"
First: Great tool, it really removes some of the pain of dealing with CloudFormation.

I have a situation where I'm creating a subdomain in Route 53 for an environment as a hosted zone, and then creating a NS delegation in another preexisting hosted zone to point to it. The JSON template for the delegation `RecordSet` comes out as follows:

[code]

Although the template is valid and will create su

[2018-04-09 09:02] martysweet commented on #134
It may be possible to implement this.
The GetAtt already does checks against the CloudFormation spec to ensure the Attribute given is valid.

Example from spec.
[code]

This has a type which can then be parsed, so we can say if list of string, lets output a couple of elements of type string. Should solve the majority of issues surrounding this.

Code which would require changing: https://github.co

[2018-04-09 10:13] RazzM13 commented on #95
Actually, now that I've had another look at it, I believe that PR #133 won't be able to solve this because it is trying to force `Fn::Join` to use the string value provided by `Fn::GetAtt` when actually `Fn::GetAtt` should be returning a list of string values. Ooops.

[2018-04-09 11:01] martysweet commented on #134
@RazzM13 Yes and no. Indeed GetAtt should be capable of returning an array when required, however, with a Custom:: resource we have no idea if the GetAtt should be a string or array, as it's decided at runtime by the invoked Lambda function.

[2018-04-09 11:04] martysweet commented on #95
@RazzM13 The main problem here is that we have a "Custom" resource type. We don't know what type to expect out of the attribute as it, unfortunately, doesn't need to be defined, and is only known at runtime.

#134 is required to completely resolve this issue, but we need a way of saying this Custom resource will return these attributes of this type.

Perhaps something like @akdor1154 mentioned,
`-

[2018-04-09 11:58] RazzM13 commented on #95
Hi @martysweet, thanks for clarifying that; I was actually looking into it myself but today I'm a bit strapped for time. AFAICT, `Fn::Join` requires a list of of values and if `Fn:GetAtt` does not return a list and instead returns a string or anything else then perhaps the validation should just fail, without the exception being thrown...

[2018-04-10 10:07] RazzM13 commented on #95
Thanks to @martysweet and a bit of contemplation, I just realized that there are two issues here. One of them being the `parts.join is not a function` exception that is thrown by `Fn::Join` when the list of values is returned from an intrinsic function, which I believed to be the main issue (should be fixed in PR #135), and the other one being the return of `Fn::GetAtt` when a custom resource is c

[2018-04-10 13:00] RazzM13 commented on #110
In PR #136, I've updated the `--help` output to the following:
[code]
Also, I've taken the liberty of showing the usage prompt in cases where either the command or the argument is missing.

[2018-04-10 13:02] RazzM13 commented on #110
PS: perhaps the `no command given!` and `missing required argument` messages should have the first letter uppercased and perhaps an exclamation mark could be added to the latter.

[2018-04-10 16:39] martysweet opened #137 "Licence on NPM"
The MIT licence isn't shown on the npm website: https://www.npmjs.com/package/cfn-lint
Showing Licence: None

package.json probably needs to be updated to reflect the MIT licence for the project.

[2018-04-11 00:13] jamielennox opened #138 "Fn::Select doesn't understand default parameter list"
When defining a default value for a Parameter as a list you define values as a comma seperated string. For example:
[code]
Later on I use select on this list like so:
[code]
This all works great in practice, however cfn-list obviously looks at the default and doesn't know that that value is a list, not a string and so I get validation errors like:
[code]

[2018-04-12 03:24] tomdionysus commented on #134
PR: https://github.com/martysweet/cfn-lint/pull/139

I left attributes on `Custom::` resources doing what they did before i the original code, so maybe thats on the road to a more complete solution.

[2018-04-12 19:51] RazzM13 opened #140 "List type parameters, which contain commas, are not processed correctly."
Apparently, `cfn-lint` cannot handle parameters with types `CommaDelimitedList` and `List<Number>`.

Steps to reproduce:
1) Given the following template:
[code]

2) We can observe that `cfn-lint` does not correctly parse the provided parameter value:
[code]

[2018-04-13 13:09] RazzM13 commented on #95
I believe that to fully resolve this issue, the following PRs are required:
- [ ] PR #141
- [ ] PR #135
- [ ] PR #142

[2018-04-13 13:48] martysweet commented on #95
Thanks @RazzM13, most appreciated!

I'm under a heavy workload at the moment but should get round to reviewing them over the next couple of days.

[2018-04-19 17:05] martysweet commented on #110
@RazzM13, does this allow people to run `cfn-lint validate --help` to see the related options?

[2018-04-19 17:41] martysweet commented on #138
Thanks @jamielennox

@RazzM13 Can an extension of #141 fix this?

[2018-04-20 09:52] willgarcia opened #143 "Cloudfront DistribConfig - ARN validation failure on intrinsic functions"
First of all, thanks for this tool 👍

The following template:

[code]

fails to validate:

[code]

And, replacing the Ref function that references a template parameter (`AcmCertificateArn: !Ref ACMCertificateARN`) by a string works.

At this stage, I'm unsure of the cause of this validation failure. I suspect that the `validator.isArn` function seems to expect a string starting with `arn:aws` as p

[2018-04-20 18:58] RazzM13 commented on #138
Hi @martysweet, I believe so, I'm going to have a proper look at it tomorrow however, we might need to include the other `List<type>` parameters listed in [AWS-Specific Parameter Types](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/parameters-section-structure.html#aws-specific-parameter-types).

[2018-04-21 07:31] RazzM13 commented on #110
Hi @martysweet, yes it does for `validate` as well as for `docs`.

[code]

[code]

And even when no arguments have been provided:
[code]

[2018-04-21 09:09] RazzM13 commented on #138
I've just added support for all the above mentioned parameter types in PR #141.

[2018-04-21 17:57] martysweet commented on #143
Hi @willgarcia,

Thanks! You should be able to define a simple ARN on the CLI with `--parameters ACMCertificateARN="arn:aws:something:something:something"`.

As cfn-lint attempts to find all errors, if a parameter isn't given, the system will guess. In the case of empty parameters, it will be `type_input_ParameterName` as you have seen.

If a parameter default is given, cfn-lint will use this valu

[2018-04-21 17:58] #140 closed

[2018-04-21 18:04] #95 closed

[2018-04-23 08:06] #110 closed

[2018-04-24 18:03] martysweet opened #145 "CircleCI is failing to build"
Looks to be since npm version went from `npm@5.8.0` to `npm@6.0.0`.

Would be nice to work out _why_, instead of pinning versions :grinning:

[2018-04-24 18:37] RazzM13 commented on #145
I've just tested it out with node `9.11.1` and npm `6.0.0` and the tests ran perfectly. CircleCI is currently having some [issues](https://status.circleci.com/incidents/xjxj6b143m0j) that might pertain to the current build failure(s).

[2018-04-24 19:49] RazzM13 commented on #145
In regards to the above mentioned, I've just opened a new issue with `npm` -> npm/npm#20425.

[2018-04-25 07:45] martysweet commented on #145
Hmm, I tried to bump the circleci node version to the latest LTS in #144, and started to get a different error

[2018-04-25 08:38] RazzM13 commented on #145
Hi @martysweet, just fixed it in PR #146.
PS: Nice catch with the npm version change :smiley:! should `cfn-lint` stop supporting *NodeJS* versions under `6.0.0` as well ?

[2018-04-25 08:59] martysweet commented on #145
Horray! Great stuff - thanks!

I am happy to keep supporting Node 4 until it starts causing us significant problems (as it only goes EOL at the end of this month), those tests you made will certainly help us catch anything.

[2018-04-25 09:09] #145 closed

[2018-04-25 19:34] RazzM13 commented on #138
Hi @martysweet, is this issue still valid?

[2018-04-25 19:50] RazzM13 commented on #55
Hi @martysweet, I've just tried to validate the templates provided by @ssnorrizaurous using the latest version of the `master` branch and apparently they both pass, with a slight exception for the *json* format due to the property `TimeoutInMinutes` having a `Integer` *string* value instead of an actual *integer*, as defined by [the spec](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGu

[2018-04-26 05:57] gidbalugo opened #149 "1.6.1 error on !GettAtt of Outputs - was passing with 1.6.0"
We recently failed on 1.6.1 update which produces error on `!GetAtt` Outputs of AWS::CloudFormation::Stack. This was passing on before the update of 1.6.1

Sample template code causing failed results on 1.6.1 update but with passing build with 1.6.0

Error

[code]

The template(s) resulting to error(bootstrap.yaml)

[code]

The `Outputs` part of source template.

[code]

Thanks

[2018-04-26 08:32] RazzM13 commented on #149
Apparently, the issue does not occur prior to 1b867f1f9570594f0be0b075c1db7ad8618d149f, perhaps @martysweet or @tomdionysus can help more...

FWIW, I've just tested with:
[code]

[2018-04-26 08:42] martysweet commented on #149
This was caused by #139 (@tomdionysus) - Attributes are now checked and then assigned. I should have thought of more edge cases this could have affected.

As we don't know the outputs to a CFN::Stack this is an edge case which was missed.

Unfortantly the AWS::CloudFormation::Stack resource from AWS Spec doesn't mention anything about its Attributes or potential attributes.
[code]

The simple (and

[2018-04-26 09:27] martysweet commented on #138
@jamielennox Can you confirm v1.6.1 or above fixes this issue?

[2018-04-26 09:28] #55 closed

[2018-04-26 09:28] #54 closed

[2018-04-26 09:30] martysweet commented on #149
Thanks @RazzM13 for the quick fix.

@gidbalugo The fix should now be up in npm as version v1.6.2, please can you confirm everything is working again?

[2018-04-26 09:34] martysweet opened #152 "Release Documentation"
Make documentation  for the merging and release cycle:

- [ ] Merging and updating PRs - change log updates, squash merge title with PR number

- [ ] Name for the PR to update final changelog, what needs updating in the changelog? links at bottom to diffs.

- [ ] What to put in the Github release - the changelog without links atm

- [ ] Conventions for semver version bumping - what counts as a "fe

[2018-04-26 09:38] gidbalugo commented on #149
Sweet!! That fixed it.

Thanks @martysweet @RazzM13

[2018-04-26 09:41] tomdionysus commented on #149
Oops - cheers guys. My bad.

[2018-04-26 11:31] martysweet commented on #149
@tomdionysus No worries!

[2018-04-27 08:27] martysweet opened #153 "README.md Ordering of Parameters"
The README.md file currently says:

@RazzM13 Is this still correct?

[2018-04-27 08:31] #134 closed

[2018-04-27 08:33] martysweet commented on #57
@aarongorka I'm going to close this issue, feel free to reopen it if you feel there is a missing feature!

[2018-04-27 08:33] #57 closed

[2018-04-27 08:37] martysweet commented on #56
@akdor1154 @RazzM13 Any ideas for this?

I feel it could get very complicated very quickly, but this is an important feature to keep this tool relevant with the rising SAM popularity. Designs/discussion for implementation welcome. ex. Detect if using SAM, then extend schema by xyz.

[2018-04-27 09:30] RazzM13 commented on #56
Hi @martysweet, as part of PR #142 I'm looking into implementing a mechanism for extending the current resource schema, which might be a step into SAM support as well or perhaps at least to pave the way for a user to specify an extension file for AWS template schemas...

[2018-04-27 18:48] RazzM13 commented on #56
Hi @martysweet @akdor1154, I was contemplating about SAM support and it seems to me that the first inconvenience would be that the *SAM schema* is currently based on *json schema* format and the *AWS resource specification* is not. On the other hand, *json schema* offers already made tools for validation such as [ajv](https://github.com/epoberezkin/ajv), which would provide a very nice comfort zon

[2018-04-27 20:43] martysweet commented on #56
Good points.

I would sway towards "SAM schema to the AWS resource specification", as we already have all the functionality to process the hundreds of resources which are currently available in normal CFN.

I have only used SAM once or twice so haven't had that much experience with it but AFAIK there isn't any wild new syntax/commands, simply some AWS::Serverless::xyz resource specification and pr

[2018-04-28 07:26] RazzM13 commented on #56
Hi @martysweet, I most definitely agree with you and I wasn't suggesting we actually do go down the *json schema* path as that would imply a terrible amount of work and reiteration of the multitude of excellent features that `cfn-lint` currently implements, just the intrinsics and user-friendly error messages are enough to give me the creeps, it was just a not so well expressed thought :)

In a mo

[2018-04-28 08:38] martysweet commented on #56
That's a point. Transforming at runtime/enabling parsing if the `Transform: AWS::Serverless-2016-10-31` is present would be ideal, and would reduce the burden of updating the specification file at release time.

I can't see any examples of any major changes in SAM compared to plain CFN, apart from new resources and property types. @tlycken or @hoshsadiq do you know of any?

[2018-04-28 08:41] martysweet opened #154 "README.md Usage GIF"
Make a usage GIF similar to https://github.com/serverless/serverless

I have always tried to make the README.md as friendly as possible for newcomers. Something like this should make them think, "Wow, it's really simple to use and it gives value!" within 10 seconds.

[2018-04-29 07:39] RazzM13 commented on #51
Hi @martysweet, this issue should be fixed in the above PR.

[2018-04-30 01:04] jamielennox commented on #138
@martysweet Seems to have solved the problem for me - thanks!

[2018-04-30 01:04] #138 closed

[2018-04-30 07:31] tlycken commented on #56
Nope, none that I know of.

[2018-04-30 07:32] hoshsadiq commented on #56
I have not seen anything besides new resources and properties either, however, I have not used SAM full feature set to give you a full answer.

[2018-05-04 16:16] #137 closed

[2018-05-04 17:26] martysweet commented on #154
Potentially http://tuxdiary.com/2015/02/14/clif/

[2018-05-05 16:29] RazzM13 opened #160 "Obscure value mocking"
The current way of mocking values that are required throughout the validation process does not provide users with any sort of information that mocking is taking place or what values are being guessed and used in the validation process thus, potentially inducing novice users to the fallacy that the validation for the affected items is not up to par, unless otherwise hinted via the README or the com

[2018-05-07 19:47] beginrescueend opened #164 "After upgrading from cfn-lint 1.6.0 to 1.7.0, getting Error: Could not determine file type."
After upgrading from cfn-lint 1.6.0/1.6.2 to 1.7.0, getting `Error: Could not determine file type` for 3 of my 10 files -- all the rest validate.  Not only that, no changes were made to any of the files before and after upgrade.

All my files are valid YML CloudFormation and also pass CloudFormation validation -
 * When I run `file *` all 10/10 files are "ASCII text" - no variations in binary/ASCI

[2018-05-07 20:04] martysweet commented on #164
Hi @beginrescueend,

Sorry about this, the YAML validator recently changed but none of the tests seemed to have caught this...

Here are a few steps which should help us resolve the issue:
1. Could you provide a template (one is fine) which causes it to break? From first looks perhaps something with a complex Fn::GetAtt?
2. Can you attempt the command without the `--pseudo` parameter, is the error

[2018-05-08 06:39] RazzM13 commented on #164
Hi @martysweet, @akdor1154 and everyone, I've just managed to issue a fix for this in PR #165. The underlying issue was that `Fn:GetAtt` can accept both `string` as well as `array` as argument(s), which affected:
[code]
from the above template.

However, I'm not really sure if it that should always be the case, according to the [spec](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/

[2018-05-08 08:16] martysweet commented on #164
Thanks @RazzM13,

I am just going to add a quick test to that PR then merge.

I agree about the spec, however, CFN appears to accept either. I have just successfully deployed the following template into an AWS account.

[code]

Thanks for the fix!

[2018-05-08 08:45] martysweet commented on #164
@beginrescueend, this should now be fixed in v1.7.1, please could you test and confirm?

Thanks to @RazzM13 and @akdor1154 for the quick turn around! :tada:

[2018-05-08 13:46] beginrescueend commented on #164
Wow - thanks for the very fast turn-around!!!

I'm now on 1.7.1, and everything's working great! (All 10/10 work!)

Sorry, I didn't get a chance to test w/o the --pseudo parameters - you got your fix in, before I got in, this morning... :-)

Thanks, again!

[2018-05-08 14:28] martysweet commented on #164
Great stuff!

[2018-05-08 14:28] #164 closed

[2018-05-08 15:19] RazzM13 commented on #56
Short update: I've almost got the SAM translator working, stay tuned for a PR :)
PS: even though it probably isn't obvious from an end-user's perspective but a lot of properties found in SAM resources can accept different value types therefore I've went for a parameterized type approach, more details about it in the upcoming PR.

[2018-05-23 16:42] RazzM13 commented on #56
Hello everyone, sorry for the small delay :) After a lot of torment, I've just managed to create PR #167 that provides basic SAM support for validating templates, it can currently validate the [sample SAM templates](https://github.com/awslabs/serverless-application-model/tree/master/examples/2016-10-31) and hopefully is the bulk of the needed functionality for SAM linting, though with SAM you neve

[2018-06-04 06:40] alexjurkiewicz opened #170 "Erroneous "Fn::Split does not support function 'Fn::ImportValue' here""
YAML Input:

[code]

Error:

[code]

This isn't true. The template works and the linked page includes a snippet like:

[code]

[2018-06-04 06:47] alexjurkiewicz commented on #143
I ran into this too. Please consider changing the error message so that it's more clear what the appropriate response is (either use `--params` or `--no-guess-params`)

[2018-06-04 09:08] alexjurkiewicz commented on #170
Wow! Now that's a fast response! 🙇

[2018-06-11 17:14] fhewitt opened #172 "Cidr"
`CidrBlock`, `CidrIp` and `DestinationCidrBlock` values should be validated for a valid Cidr string format.

As an example, this typo `"CidrIp": "38.121.87.72/33",` will generate a error during the deployment, and could be catched by cfn-lint.

Could use this tool: https://www.npmjs.com/package/cidr-regex

[2018-06-18 02:12] nskoufis opened #173 "Failure to validate templates that use the AWS::URLSuffix psedo parameter"
When validating templates that include the `AWS::URLSuffix` pseudo parameter, the value is not recognised and an error is thrown.

Steps to reproduce:
1. Execute `cfn-lint validate sample.json`, where `sample.json` contains the following:
[code]

Expected outcome: no validation errors
Actual outcome:
[code]

I'm working on a PR for this. It's a simple fix, I just need some tests

[2018-06-19 13:44] mijndert commented on #106
Any word on this?

[2018-06-20 16:22] jonscheiding opened #175 "ARN validation failure on imported values"
I'm getting validation errors when trying to use `!ImportValue` for properties that expect an ARN.

Sample template:
[code]

I get the following result:
[code]

I tried doing something similar with a different type of resource that also expects an ARN:

[code]

This passed, but it passes even if I put in a garbage non-ARN, so it doesn't appear to be doing the validation at all.

I am using `cfn-li

[2018-06-20 16:24] jonscheiding commented on #175
I just noticed the item about injection for ImportValue in the feature backlog.  Does that mean there's no reasonable workaround at this time?

[2018-06-25 17:49] martysweet commented on #175
Hi @jonscheiding,

That's correct. This is something that needs to be added on the CLI.

Should just be:
- Add to CLI to make a dict
- On ImportValue Intrinsic, check the dict for value, otherwise compute value (like it's already doing)

[2018-06-25 17:55] martysweet commented on #106
@mijndert Can you provide the most simple test case which makes it break? (<15 lines)

@RazzM13 A nice brain teaser for you :smiley:

[2018-06-26 14:48] jonscheiding commented on #175
@martysweet Thanks for the response!

I would like to work on this, but it may be a while coming as I don't have a lot of bandwidth right now.  I'll open a PR once I get some progress.

[2018-06-27 09:56] mijndert commented on #106
@martysweet sure

My Parameter:

```HTTPSListener:                {Description: HTTPS Listener,           Type: String,   AllowedValues: ["True", "False"]}```

My Condition:

```CreateHTTPSListener:  !Equals [ !Ref HTTPSListener, False ]```

And my actual resource:

[code]

[2018-06-30 04:49] #173 closed

[2018-06-30 04:54] #170 closed

[2018-06-30 05:03] martysweet commented on #170
Hi guys, sorry about the delay on releasing this. It should be fixed in v.1.7.3 which is now on npm!

[2018-06-30 05:04] martysweet commented on #173
This should be fixed in v.1.7.3 which is now on npm.

[2018-06-30 05:04] martysweet commented on #173
Thanks for your help!

[2018-06-30 06:34] martysweet commented on #106
Might be fixed :+1: Can you test it out from the `fix-condition-issue-106` branch?

[2018-07-02 00:46] nskoufis opened #178 "AWS::Partition pseudo parmeter causes critical lint error"
Hi again!

Another Pseudo parameter that doesn't appear to be supported, discovered while building some API Gateway integrations.

Minimum working example:

[code]

Expected behaviour: validates with no errors
Actual behaviour: 1 critical validation error:
[code]
Note that the referenced documentation page doesn't list `AWS::Partition` as a pseudo parameter. However the pseudo parameter documentat

[2018-07-04 16:33] zaharcelac opened #180 "Validation fails for some properties of "AWS::EC2::VPCEndpoint""
[code]

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-vpcendpoint.html

[2018-07-04 17:29] #180 closed

[2018-07-09 19:58] samcodrington commented on #56
Any update on this? Will PR #167 be added soon?

[2018-07-10 11:40] RazzM13 commented on #56
Hi @samcodrington and everyone, PR #167 is not ready yet, unfortunately I've been really struggling with finding the time to get back to work on it, I'll try to make an extra effort this weekend and hopefully get it to a better state, in the mean time if you have a better approach to the issue or would like to pitch into the existing work then please do so as it's most certainly appreciated, thoug

[2018-07-18 02:50] A-Tokyo opened #181 "🐛Error: No such resource AWS::EKS::Cluster"
First, I'd like to say Amazing work 👏 🎩

---
name: 🐛 Bug Report
about: If something isn't working as expected 🤔.

---

## Bug Report

**Current Behavior**
Cloudformation templates that make use of AWS's EKS (Kubernetes) throw `Error: No such resource AWS::EKS::Cluster`.

**Expected behavior**
AWS::EKS Resources should be parsed successfully.

[2018-07-18 05:32] #178 closed

[2018-07-18 05:58] martysweet commented on #181
@A-Tokyo, this should now work in v1.7.4, let us know if you have any issues!

[2018-07-18 05:58] #181 closed

[2018-07-18 05:59] martysweet commented on #106
This should now be fixed in v1.7.4, can you test it out?

[2018-07-18 06:02] A-Tokyo commented on #181
@martysweet Thanks man! Working flawlessly ✨

[2018-07-18 11:21] eemperor commented on #106
Looks like the update fixed this issue.  Thank you.  👍

[2018-07-18 13:09] lorengordon opened #183 "Zero length CommaDelimitedList will have zero commas"
We have a CommaDelimitedList parameter that is optional, using a condition. When unset, it is an empty string, and so there are zero commas because it is a zero length list. This works fine, but cfn-lint throws this error:

[code]

[2018-07-18 13:17] #106 closed

[2018-07-18 13:21] lorengordon opened #184 "Support the intrinsic function `Fn::And`"
Just a placeholder for adding support for the `Fn::And` intrinsic function. Currently causing cfn-lint to claim our templates are invalid.

[2018-07-23 07:00] martysweet commented on #184
This should be pretty easy to implement, probably best to copy the doInstrinicOr and change the conditional statement within.

[2018-07-28 15:35] daisuke-awaji opened #186 "LaunchTemplate is not a valid property of AWS::AutoScaling::AutoScalingGroup"
Although LaunchTemplate is specified as a parameter of AutoScalingGroup, it will not be recognized by cfn-lint and an error will result.
The execution log is as follows.

[code]

The template file is as follows

[code]

[2018-08-01 10:47] martysweet commented on #186
I would expect to see the following in the AWS CloudFormation specification: `AWS::AutoScaling::AutoScalingGroup.LaunchTemplate`

https://d1uauaxba7bl26.cloudfront.net/latest/gzip/CloudFormationResourceSpecification.json

Will give the cfn guys a poke and see if this is a known issue

[2018-08-02 17:36] martysweet commented on #184
Having a look, `Fn::And` is implemented, is there a certain issue that's occurring?

[2018-08-02 17:38] #175 closed

[2018-08-02 17:54] lorengordon commented on #184
Yeah...

[code]

where the condition looks like this (default value for both Refs is the empty string `""`)...

[code]

When I looked into the cfn-lint code and issues, it appeared the Fn::And was not implemented, hence the issue. Obviously being unfamiliar with the code I may have missed it or misunderstood.

[2018-08-02 18:14] martysweet commented on #175
Hi @jonscheiding, this is now released in v1.8.0! Thanks for the contribution!

[2018-08-10 17:48] john-aws opened #188 "TypeError: Cannot convert undefined or null to object"
A YAML template with the following:

    AvailabilityZone: !Select [ 0, !GetAZs ]

causes the following internal error:

[code]

The provided GetAZs construct is accepted by CloudFormation.

[2018-08-22 14:32] martysweet commented on #188
This should just be a case of picking up this edge case within the `doIntrinsicGetAZs` method. This version of the shorthand is currently not taken into account.

https://github.com/martysweet/cfn-lint/blob/master/src/validator.ts#L810-L811

Something like

[code]

[2018-09-05 09:20] martysweet opened #191 "NPM test exit code incorrect"
@RazzM13 looks to be these tests which are causing the issues with the exit status code. If they are removed the exit code on `npm test` works as expected. Any ideas?

https://github.com/martysweet/cfn-lint/blame/master/src/test/indexTest.ts#L168-L240

[2018-09-05 13:04] RazzM13 commented on #191
Hi @martysweet, mia culpa, sorry for blowing up the tests for everyone :)
I've taken the liberty of splitting the CLI tests into two sections so that there's a clear distinction between them and fixed the problem by ensuring the tests cleanup after themselves.
Hope it's ok.

[2018-09-07 02:36] beginrescueend opened #193 "cfn-lint shows an error, but the CF YAML is good, and works"
For the following code, I get an error that should not be an issue (the PeerRoleArn is an actual ARN, with a type of string, and the code works) -

**Adapted From step 2 of this page**
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/peer-with-vpc-in-another-account.html

**Error message:**
[code]

**Code:**

[code]

[2018-09-07 07:55] martysweet commented on #193
Hi @beginrescueend,

It looks like `PeerRoleArn` is a parameter, we provide the functionality to allow parameters to be defined at check time so the ARN validation will be successful. Please see https://github.com/martysweet/cfn-lint#input-parameters

`--parameters PeerRoleArn=arn:aws:abc:def`

Hope this helps,
Marty

[2018-09-07 07:59] martysweet commented on #191
Awesome, thanks @RazzM13

[2018-09-07 07:59] #191 closed

[2018-09-07 13:45] beginrescueend commented on #193
I'll check and let you know.

Thanks for the quick response!

[2018-09-07 13:50] beginrescueend commented on #193
...and it works!

Thanks so much for your help -- and a great tool!

[2018-09-07 13:50] #193 closed

[2018-09-11 04:43] ronkorving opened #195 "Unhandled Intrinsic Function in !Sub Variable Map"
I'm not 100% sure what this means, but it hits on this line in my CFN template file:

[code]

Does this imply that the `Sub` function is not yet supported by cfn-lint? According to https://github.com/martysweet/cfn-lint/issues/102#issuecomment-379172620 it's supposed to be there. Thanks for a great tool, and I hope someone can give me a hint on what to do with this warning.

[2018-10-07 13:32] martysweet commented on #195
Sorry @ronkorving for the late response! Did you manage to get this solved?

[2018-10-10 22:09] estebancrw commented on #56
Since #167 is merged, should this be marked as closed or is something pending? cc @samcodrington

[2018-10-11 01:11] ronkorving commented on #195
@martysweet Thanks for looking into this!

[2018-10-19 12:22] philiiiiiipp opened #198 "Fn::Select fails if the list is a Fn::Split on a Fn::ImportValue"
Quite a mouthful, I have

[code]

Which fails with

[code]

It seems as if it gets confused by the split of an imported value. I can deploy the cf template without a problem.

[2018-10-19 12:33] philiiiiiipp commented on #198
The problem persists even if I add the import value

[code]

[2018-10-22 04:09] akdor1154 commented on #186
this is fixed in the latest cfn spec i think

[2018-10-30 06:59] aap69 opened #201 "Reports property as invalid when it is valid"
When validating a cfn template with a resource of type AWS::EC2::SpotFleet, I get the following error:

cfn-lint error:

2018-10-30T06:42:04.6891330Z 1 crit
2018-10-30T06:42:04.6891404Z Resource: Resources > spotFleet > Properties > SpotFleetRequestConfigData > LaunchTemplateConfigs
2018-10-30T06:42:04.6891539Z Message: LaunchTemplateConfigs is not a valid property of AWS::EC2::SpotFleet.SpotFleet

[2018-10-30 14:52] #195 closed

[2018-10-30 15:23] martysweet commented on #201
Hi @aap69, can you test this with the latest version of cfn-lint v1.9.1. The aws cloudformation specification has just been updated. Thanks!

[2018-10-30 15:26] martysweet commented on #198
Hey @philiiiiiipp, interesting that the problem persists once a value should have been imported, though it seems to split when given `-`. Will take a look and keep you updated.

[2018-10-30 15:48] martysweet commented on #198
@philiiiiiipp I've just tried this with v1.9.1 and all appears to be working correctly.

[code]

`cfn-lint validatenested-select-split-import.yaml -i something-something-something-something:AppSyncUrl=https://test.test.test.com/test`

Tracing the code shows its picking up the imported value correctly - Are you still having this issue?

[2018-10-30 15:58] martysweet opened #204 "Support the !Condition keyword"
The `!Condition` keyword is not support by cfn-lint.

It can be used like the following:
[code]

[2018-10-30 23:16] aap69 commented on #201
Hi @martysweet, v1.9.1 has fixed this issue. Many thanks (: 👍

[2018-10-30 23:16] #201 closed

[2018-10-31 01:19] aap69 opened #206 "Role property for AWS::Serverless::Function reports as invalid"
When linting an AWS SAM output file, we get this error:

Error: No such property type AWS::Serverless::Function.#Role

Resource definition:

  RegisterErrorLambdaFunction:
    DependsOn: RegisterErrorStackLogGroup
    Properties:
      CodeUri: s3://tri-deploy/lambda/api-register/1e0866c6ab4fafa3e64718bc35a3cef2
      Environment:
        Variables:
          ALERT_SNS_TOPIC:
            Ref: Regi

[2018-10-31 08:04] RazzM13 commented on #206
Hey @martysweet, I'm having a look at it now.

[2018-10-31 08:55] RazzM13 commented on #206
Hello @aap69, could you please provide a full template sample, preferably within a code block, as I have attempted to reproduce this issue by cleaning up your example a bit and I ended up with:
[code]
Unfortunately, the above does not trigger the issue you described however, it does reflect another issue in regards to the handling of the `Policies` property and we should probably open up a *separa

[2018-10-31 16:17] RazzM13 opened #207 "Invalid parameterized type resolution for properties containing nested aggregate types (i.e. Map<Json> & List<Json>)"
Thanks to @aap69, we've discovered a problem with `cfn-lint`'s type inference of *SAM* properties that may contain as values nested aggregate types  (i.e. *JSON* or any other aggregate structure within a *Map* or a *List*).

Steps to reproduce:

1) Save the following problematic sample to a file (e.g. `sam_20161031_issue_new.yaml`):
[code]

2) Attempt to validate the file containing the sample tem

[2018-10-31 16:54] RazzM13 commented on #207
Hey @martysweet, please feel free to have a look over this and let me know if anything is missing or otherwise incorrect.

[2018-10-31 16:57] RazzM13 commented on #206
In regards to the handling of the `Policies` property, just opened #207.

[2018-11-02 07:59] philiiiiiipp commented on #198
Yes, it seems to be working now. Perfect :-)

[2018-11-02 07:59] #198 closed

[2018-11-15 18:41] martysweet commented on #207
Thanks @RazzM13, this is now in v1.9.2 :+1:

[2018-11-15 18:41] #207 closed

[2018-11-16 21:36] fhewitt commented on #143
I tried some variations, but I wasn't able to apply the workaround with the API (where's the --no-gess-params option?) Reverted to pre-guessing version :(

[2018-11-19 14:08] wannesvc opened #211 "Fn::Sub variable escaping not supported"
Basically the following resolves as an error (while the template deploys without any issues):

To write a dollar sign and curly braces (${}) literally, add an exclamation point (!) after the open curly brace, such as ${!Literal}. AWS CloudFormation resolves this text as ${Literal}.

[https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-sub.html](url)

[2018-11-20 07:33] martysweet commented on #143
@fhewitt, can you confirm cfn-lint works properly using the CLI, just the API does not allow the no guessing option to be set?

https://github.com/martysweet/cfn-lint/blob/master/src/api.ts#L3-L16

[2018-11-20 08:02] wannesvc commented on #211
My bad!! it is indeed fixed, sorry for wasting your time and thanks for building this great tool!

[2018-11-20 08:02] #211 closed

[2018-11-20 08:33] martysweet commented on #211
No worries! Thanks :smile:

[2018-11-23 13:36] vivus-ignis opened #212 "False alert for *Arn parameters that Ref other resources"
Hi!

I've just upgraded to 1.9.2 and now I'm having errors on otherwise valid templates. Example:

[code]

And here's what cfn-lint outputs:

[code]

For ELBv2 load balancer & target group resources !Ref returns an Arn.

Maybe there's a way to check when a !Ref for a given resource would return an Arn and then properly mock a string?

Thank you.

[2018-12-03 22:06] tomdionysus opened #214 "SQS Queues now accept Tags"
SQS Queues (AWS::SQS::Queue) now - my assumption is that they didn't previously - accept tags, leading to an incorrect warning:

[code]
Output:
[code]

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-sqs-queues.html#cfn-sqs-queue-tags

I'm happy to submit a PR to fix on acceptance.

[2018-12-04 08:17] martysweet commented on #214
Hi @tomdionysus, this should just be a cfn specification update - as it was reInvent last week I should probably push an update! Will do one now.

[2018-12-04 08:32] martysweet commented on #214
@tomdionysus Can you confirm this is fixed in v1.9.3? Thanks!

[2018-12-04 08:47] tomdionysus commented on #214
Sorry @martysweet it seems it's still reporting it.

[code]

I've confirmed i'm definitely using 1.9.3

[code]

[2018-12-04 17:39] simlevesque commented on #212
I have the same problem.

A temporary fix would be to send fake params, here's an example:

If I get this error:
[code]
I change the command from this:
[code]
To this:
[code]

If I find the time I'll make a PR.

[2018-12-04 20:29] simlevesque commented on #212
This problem is caused by Resource Attribute Mocking. From the README: "A resource will always have a Ref of mock-ref-RESOURCENAME". This should not be the case. Some resource types return a reference id, such as AWS::IAM::AccessKey. Those currently work. Other resource types return a ARN. Those who return an ARN should not have a ref of mock-ref-RESOURCENAME.

[2018-12-09 11:31] martysweet commented on #214
Hi @tomdionysus,

I've just been back through the versions and it appears this should of worked since v1.8.1, with versions before that reporting `Tags is not a valid property of AWS::SQS::Queue`.

Could you check the version running with `cfn-lint --version`?

[2018-12-13 13:54] marcobiedermann opened #218 "Feature request - multiple files"
I would be great if you could use some file blobbing e.g. `**/*.{yaml,yml}` instead of passing just a single file as input.

[2018-12-13 13:55] marcobiedermann opened #219 "Feature request - ignore file"
How about adding support for ignorefiles? E.g. `.cfn-lintignore`.
In there you could list files and folders to ignore as it is quite common in other linters.

[2018-12-19 11:39] aoggz commented on #180
This is definitely still an issue. `cfn-lint` throws a `crit` when the `VpcEndpointType` property is not cased `VPCEndpointType`, and CloudFormation does not accept `VPCEndpointType`.

[2018-12-19 11:45] aoggz opened #220 "Validation fails for VpcEndpointType property of AWS::EC2::VPCEndpoint resource"
`cfn-lint` does not accept the `VpcEndpointType` property on the `AWS::EC2::VPCEndpoint` resource. It expects `VPCEndpointType`. CloudFormation does not accept `VPCEndpointType`.

This was originally reported in #180.

[2018-12-19 11:48] martysweet commented on #220
Hi @aoggz, thanks for the issue.

This appears to be an issue with the cloudformation specification provided by AWS.

https://d1uauaxba7bl26.cloudfront.net/latest/gzip/CloudFormationResourceSpecification.json

[code]

I will raise this with AWS.

[2018-12-19 11:49] aoggz commented on #220
Okay, cool. I did see that in the resource specification in this repository but wasn't sure how to approach. Thank you for the quick response!

[2019-01-22 01:01] romaninsh opened #221 "Fn::Split and Fn::Sub combination false positive"
[code]

code:

[code]

valid syntax replacing "-" with "_" in a string.

[2019-01-22 17:32] bbraunstein commented on #212
+1

I've also been running to the same problems when calling the !Ref intristic function for ARNs.

[2019-01-25 15:32] martysweet commented on #221
Thanks for the issue, Fn::Sub should be added to the following list.

https://github.com/martysweet/cfn-lint/blob/c2690b1c603131ebc104a3153daab74811e54ff8/data/aws_intrinsic_functions.json#L16

[2019-02-12 15:39] marcodatola commented on #212
+1 having the same problem when Ref(erencing) resources.
Tried adding a DependsOn attribute which didn't solve anything.

[2019-02-21 16:29] arpaulnet opened #225 "!Select and !Cidr"
Output:
[code]

Relevant Template Snippet:
[code]
The series of functions in `Ipv6CidrBlock` works; I can deploy a stack and it produces the desired behavior.

[2019-02-26 05:57] ronkorving commented on #212
Don't get me wrong, I appreciate the nature of Open Source very, very well. I can't demand anything.
But I'm a bit confused how this is not a priority? For me, cfn-lint has become pretty unusable :-/

[2019-02-27 14:53] martysweet commented on #225
Thanks @arpaulnet. Currently the CIDR intrinsic function is not implemented within cfn-lint.

[2019-02-27 16:06] #214 closed

[2019-02-27 16:21] #212 closed

[2019-02-27 16:34] #221 closed

[2019-03-25 15:13] ImperviousPanda opened #231 "ImportValue failing for EventSourceMapping type"
I just added an EventSourceMapping type to our CloudFormation template:

[code]

Which is causing the error:
[code]

In cfn-lint.  We use this ImportValue other places in our code without utilizing the --import-values CLI option, but in this particular case it fails.  Example in our code where it does not fail:

[code]

[2019-03-25 18:08] Dynamo6 commented on #184
Any ETA on this yet? Looks like it's still an issue.

[2019-03-30 18:18] martysweet commented on #231
Any single property which ends in `Arn` has a check which expects an ARN to be present. This is what is generating the error. This check does not extend to other properties which do not have Arn explicitly in their name, like in your IAM policy example (where a resolved ARN would be expected, but cfn-lint does not check for it). What you are observing is expected, but not _ideal_ behaviour.

cfn-p

[2019-03-30 18:18] #231 closed

[2019-03-30 18:20] martysweet commented on #184
This project is EOL in favour of https://github.com/aws-cloudformation/cfn-python-lint, however, if you wish to add `doIntrinsicAnd` with a couple of use cases I would be happy to push it in the next release.

[2019-03-30 18:22] martysweet commented on #184
I made a start to it here a while ago https://github.com/martysweet/cfn-lint/pull/205/files, there is a lot of work around making conditions work correctly which is the major limiting factor to this - but happy for any contribution.

[2019-04-03 03:20] exoego opened #233 "Fn::If gives false alarm on Array value of S3 Bucket CorsRule"
[`AllowdOrigins` properties for Amazon S3 Bucket CorsRule accepts `Array` value](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-cors-corsrule.html#cfn-s3-bucket-cors-corsrule-allowedorigins).
My CF tempalte uses `Fn::If` to switch `AllowedOrigins` depending on environment like below:

[code]

This template is valid and works  fine in CloudFormation.

Howeve

[2019-08-09 16:20] Clark1012 opened #236 "Please add AWS::Transfer support"
As title, I was trying to deploy AWS::Transfer::Server, but was rejected like so

"Error: No such resource AWS::Transfer::Server"

[2019-12-17 11:44] lud77 opened #238 "Please add support for lambda Runtime: nodejs12.x"
As for the title, we tried updating some lambdas to a new runtime since the Node.js 8.10 runtime is about to reach EOL. Node 12 is supported now but gets rejected by cfn-lint.

[2020-01-15 02:20] firstval opened #239 "Error with WAF"
I getting an error with WAF even when I upload directly with the cloudformation it has no issues but using cfn-lint I get an error

This is the error message

E3002 Expecting an object at Resources/WAFACL/Properties/Rules
main.yaml:69:7

MYTEMPLATE
`AWSTemplateFormatVersion: '2010-09-09'
Description: AWS WAF AWS Managed Rule Set for TWEB
############################
######   PARAMETERS   ######
##

[2020-02-26 23:59] ARMAAN7139 commented on #212
I am still getting the same issue with API GW arn.

[2020-04-02 03:59] ARMAAN7139 opened #240 "Issue when using conditionalized intrinsic function"
Resource: [31mLambdaInvokePermission > Properties > FunctionName[39m
2020-04-02T02:30:02.3831599Z Message: [31mIntrinsic function Fn::Sub is not supported here[39m
2020-04-02T02:30:02.3832234Z Documentation: [31mhttps://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-sub.html[39m
2020-04-02T02:30:02.3832858Z
2020-04-02T02:30:02.3833216Z Resource: [31mLamb

[2020-06-14 22:03] PatMyron commented on #238
[`cfn-python-lint` added support for `nodejs.12x` here](https://github.com/aws-cloudformation/cfn-python-lint/pull/1204) if that helps

https://github.com/martysweet/cfn-lint#depreciationretirement-notice

[2020-06-14 22:07] PatMyron commented on #236
[`cfn-python-lint` added support for `AWS::Transfer::Server` here](https://github.com/aws-cloudformation/cfn-python-lint/pull/926) if that helps

https://github.com/martysweet/cfn-lint#depreciationretirement-notice

[2020-06-14 22:10] PatMyron commented on #225
[`cfn-python-lint` added support for `Fn::Cidr` here](https://github.com/aws-cloudformation/cfn-python-lint/commit/06d53c796b9c6084e96f491914a4c4e27f7dc14a#diff-c624558ea1ddc09888883a7882180155) if that helps

https://github.com/martysweet/cfn-lint#depreciationretirement-notice

[2020-06-14 22:12] PatMyron commented on #220
[`AWS::EC2::VPCEndpoint`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-vpcendpoint.html) is now available in the [`us-east-1` CloudFormation Resource Specification](https://d1uauaxba7bl26.cloudfront.net/latest/gzip/CloudFormationResourceSpecification.json)

[2020-06-14 22:16] PatMyron commented on #219
[`cfn-python-lint` added support for `--ignore-templates` here](https://github.com/aws-cloudformation/cfn-python-lint/pull/683) if that helps

https://github.com/aws-cloudformation/cfn-python-lint/#parameters

https://github.com/martysweet/cfn-lint#depreciationretirement-notice

[2020-06-14 22:17] PatMyron commented on #218
[`cfn-python-lint` added support for linting multiple templates here](https://github.com/aws-cloudformation/cfn-python-lint/pull/331) if that helps

https://github.com/aws-cloudformation/cfn-python-lint/#lint-multiple-files

https://github.com/martysweet/cfn-lint#depreciationretirement-notice

[2020-11-13 01:20] MatteoInfi opened #241 "Tags is not a valid property of AWS::ECR::Repository"
Not really sure what is wrong here

[code]

And I get this error:

[code]

[2020-11-13 12:14] martysweet commented on #241
This is most likely due to the CFN schema being out of date, we strongly advise you use cfn-python-lint at https://github.com/awslabs/cfn-python-lint instead of this project.

If you depend on this project, https://github.com/martysweet/cfn-lint#release-instructions discusses the process on updating the CFN schema specifications. Let me know and I can push this in a new version.

Marty

[2020-11-15 01:58] MatteoInfi commented on #241
@martysweet thanks the reply, I see, I will switch to the python library then.

[2020-11-15 01:58] #241 closed

[2021-04-23 16:07] bensiu opened #244 "Problem with AWS::IAM::Role with placement of Description"
Properly placed Description property in Properties when defined 'AWS::IAM::Role' is marked as error:

[code]

[2021-08-03 17:36] sravanijammula17 opened #246 "How to add parameters.json file in cfnlintrc file"

[2021-08-03 17:39] sravanijammula17 commented on #244
is description part of Properties?Can you try below Type?

[2021-08-29 13:11] resistdesign opened #247 "Error when using Ref for Certificate Arns."
If you declare a Certificate Arn with a Ref to a Parameter like this:

[code]

You get the following critical error:

` Expecting an ARN, got 'string_input_SSLCertificateArn'`

I think the expected result would be that it would accept it as long as `SSLCertificateArn` was a valid parameter id.

[2022-03-14 22:18] PatMyron commented on #244
Switch to [AWS' cfn-lint](https://github.com/aws-cloudformation/cfn-lint) for new type support:
https://github.com/martysweet/cfn-lint#depreciationretirement-notice